<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up <%= @user.username %>!</h1>

    <div class="container">
		<div class="jumbotron text-center">
			<h1>What is Subbit?</h1>
			Discover what's going on in your area or favorite neighborhood!
		</div>

		<h2> Lost in New York? </h2>
		<h4>Ever step out of a subway station and don't know what to do?</h4> Go on subbit and search the feed for any subway station filled with user generated posts of whats going on. 
		<br><br>
		<h3> Vote for your favorites!</h3>

		Good posts get upvoted to the top of the page and bad posts sink down to the bottom, allowing for a fully user oriented experience to discover more about your neighborhood or a new stop.
	</div>

    <p>
      Let us know what we can improve, this is still a work in progress!
    </p>

    <h1>subbit.net</h1>
  </body>
</html>