<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up <%= @user.username %>!</h1>

    <p>
      Let us know what we can improve, this is still a work in progress!
    </p>
  </body>
</html>