<h1>Editing User</h1>

<%= render 'home/login' %>
<%= render 'form', user: @user %>

<%= link_to 'Back to ' + @user.username , @user, class: "btn btn-default", style: "background-color:#cce6ff; color:white" %>
