<div class="container">
	<div class="jumbotron text-center" id="home-jumbo">

		<% if current_user %>
			<%= render 'users/tools' %>
		<% end %>

		<div class="subbit">
			<h1>Subbit</h1>
			<h2>Welcome to Subbit!</h2>

			<%= render 'login' %>

			<%= link_to 'Enter Subbit', controller: 'subway_stops' %>
		</div>
	</div>
</div>