<% if current_user && current_user.admin? %>
  <p> hello admin! </p>
  <%= link_to 'Admin Tools', users_path %>
<% end %>

<h1>Subbit</h1>
<h2>Welcome to Subbit!</h2>

<%= render 'login' %>

<%= link_to 'Enter Subbit', controller: 'subway_stops' %>
