<div class="container">
	<div class="jumbotron text-center" id="home-jumbo">
		<div class="subbit">
			<h1>Welcome to Subbit!</h1>

			<%= render 'login' %>
			<div class="btn">
				<%= link_to 'Enter Subbit', subway_stops_path, class: "btn btn-default", style: "background-color:#cce6ff; color:white; opacity:1" %>
			</div>
		</div>

	</div>
	
	<h1 class="text-center"> Hottest Posts: </h1>

	<% @posts.order(:cached_weighted_score).reverse.each do |post| %>
		<%= render post %>
	<% end %>
	
</div>

