<h1>Do something pls</h1>

<p>
  <strong>Line:</strong>
  <%= @subway_stop.line %> ---

  <strong>Stop:</strong>
  <%= @subway_stop.stop %>
</p>


<h3>Showing the Post</h3>
<p> fix this line </p>

#change this so it shows only the specific post

<%= link_to 'Back', subway_stops_path %>
